BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
ColumnLimit: 110
AllowShortIfStatementsOnASingleLine: false
AlignAfterOpenBracket: BlockIndent
AlwaysBreakTemplateDeclarations: Yes

AlignTrailingComments: true
ReflowComments: false
AlignEscapedNewlines: Left
AlignConsecutiveMacros: false
AllowAllArgumentsOnNextLine: true
PenaltyBreakBeforeFirstCallParameter: 100
